*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
}

body {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
  color: pink;
}

.clock {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: pink;
  font-size: 6rem;
  padding: 2rem;
}

.hour {
  color: #FFC0CB;
}

.minute {
  color: #FFC0CB;
}

.second {
  color:#FFC0CB
}
